In [1]:
import os, csv
import pandas as pd

In [2]:
#file path
csv_path = "election_data.csv"
df = pd.read_csv(csv_path)
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [3]:
TotalVotes = df['Ballot ID'].count()
df_finished=df['Ballot ID'].count()

In [4]:
df['Ballot ID'].max()

7999927

In [5]:
votes = df['Candidate'].value_counts()
print(votes)
df_finished = df['Candidate'].value_counts()

Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64

In [6]:
Winner = df['Candidate'].mode()
df_finished = df['Candidate'].mode()

In [7]:
print('Total Votes',TotalVotes)
print('Canidates that recieved votes:'
      \
      ,votes)
print('Winner:',Winner)

Total Votes 369711
Canidates that recieved votes: Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64
Winner: 0    Diana DeGette
dtype: object

In [8]:
df_finished.to_csv('PyPollFinished.txt', header=None, index=None, sep='\t', mode='a')