In [21]:
import pandas as pd
import os
import csv

In [22]:
#file path
csv_path = "budget_data.csv"
df = pd.read_csv(csv_path)
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [29]:
Total_Months = df['Date'].count()
print(Total_Months)

86

In [30]:
Net_Amount = df['Profit/Losses'].sum()

In [31]:
Greatest_Increase = df['Profit/Losses'].max()

In [32]:
Greatest_Decrease = df['Profit/Losses'].min()

In [34]:
Average_Change = Net_Amount/Total_Months
print(Average_Change)

262374.3953488372

In [38]:
print('Total Months:',Total_Months)
print('Total:',Net_Amount)
print('Average Change:',Average_Change)
print('Greatest Increase in Profits:',Greatest_Increase)
print('Greatest Decrease in Profits:',Greatest_Decrease)

Total Months: 86
Total: 22564198
Average Change: 262374.3953488372
Greatest Increase in Profits: 1141840
Greatest Decrease in Profits: -1194133

In [40]:
df.to_csv('PyBankFinished.txt', header=None, index=None, sep='\t', mode='a')